/* App.css */

.app-container {
  /* display: flex; */
  height: 100vh;
}

.header-class{

}

/* ConversationsList.css */
.header-class{
  height: 35px;
}


.messages {
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.left {
  background-color: #cce5ff;
  align-self: flex-start;
}

.right {
  background-color: #f0f0f0;
  align-self: flex-end;
}

.no-conversation {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

